body {
    background-color:#f7f8fa;
    font-family: muli, sans-serif;    
    font-weight: 300 ;
    color: #3f4c56;
    line-height: 21px ;
    text-align: center
    
}
.Top-Header {
    background-color: #131631; 
    height: 70px;
}
.image {
    margin-top: 20px
}
.highlight { 
    background-color: #d660c3
;
    color: aliceblue
}

h1 {
    font-weight: 300 ;
    font-size: 30px;
    line-height: 40px;
    
}
p {
    font-size: 21px;
    line-height: 30px;
    
}
img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    
}